@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src:
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src:
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src:
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src:
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src:
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src:
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

:root {
	/* Colors */
	--black: #000000;
	--primary-primary-50: #fefdfd;
	--primary-primary-100: #faf8f6;
	--primary-primary-200: #f5f0ea;
	--primary-primary-300: #ede4da;
	--primary-primary-400: #e3d5c6;
	--primary-primary-500: #d6c3ac;
	--primary-primary-600: #c8ad8f;
	--primary-primary-700: #b7946c;
	--primary-primary-800: #6a5134;
	--primary-primary-900: #34281a;
	--primary-primary-950: #221a11;
	--secondary-secondary-50: #fffdfc;
	--secondary-secondary-100: #fef9f3;
	--secondary-secondary-200: #fdf1e4;
	--secondary-secondary-300: #fbe6cf;
	--secondary-secondary-400: #f8d8b4;
	--secondary-secondary-500: #f6c793;
	--secondary-secondary-600: #f2b36c;
	--secondary-secondary-700: #ee9c3f;
	--secondary-secondary-800: #95560d;
	--secondary-secondary-900: #482a06;
	--secondary-secondary-950: #2f1b04;
	--gray-gray-50: #fcfcfc;
	--gray-gray-100: #f4f4f4;
	--gray-gray-200: #e7e7e7;
	--gray-gray-300: #d4d4d4;
	--gray-gray-400: #bcbcbc;
	--gray-gray-500: #9f9f9f;
	--gray-gray-600: #7c7c7c;
	--gray-gray-700: #545454;
	--gray-gray-800: #343434;
	--gray-gray-900: #202020;
	--gray-gray-950: #1a1a1a;
	--green-green-50: #fbfefc;
	--green-green-100: #eefbf4;
	--green-green-200: #d9f7e6;
	--green-green-300: #bcf0d3;
	--green-green-400: #96e8ba;
	--green-green-500: #68de9b;
	--green-green-600: #32d277;
	--green-green-700: #219754;
	--green-green-800: #145a32;
	--green-green-900: #0c361e;
	--green-green-950: #092a17;
	--red-red-50: #fffcfc;
	--red-red-100: #fef4f4;
	--red-red-200: #fce6e6;
	--red-red-300: #fad2d2;
	--red-red-400: #f8b9b9;
	--red-red-500: #f49a9a;
	--red-red-600: #f17575;
	--red-red-700: #ec4b4b;
	--red-red-800: #971010;
	--red-red-900: #480808;
	--red-red-950: #2e0505;
	--yellow-yellow-50: #fefffc;
	--yellow-yellow-100: #fcfdf4;
	--yellow-yellow-200: #f8fbe7;
	--yellow-yellow-300: #f3f7d4;
	--yellow-yellow-400: #ecf3bc;
	--yellow-yellow-500: #e4ed9e;
	--yellow-yellow-600: #dae77b;
	--yellow-yellow-700: #cfdf53;
	--yellow-yellow-800: #7e8b19;
	--yellow-yellow-900: #3d430c;
	--yellow-yellow-950: #272b08;
	--blue-blue-50: #fcfdfe;
	--blue-blue-100: #f2f6fc;
	--blue-blue-200: #e3ebf8;
	--blue-blue-300: #cddbf3;
	--blue-blue-400: #b0c7ec;
	--blue-blue-500: #8eafe4;
	--blue-blue-600: #6592da;
	--blue-blue-700: #3670ce;
	--blue-blue-800: #1c3e74;
	--blue-blue-900: #0e203c;
	--blue-blue-950: #0a1629;
	--navy-navy-50: #fbfcfd;
	--navy-navy-100: #eff2f6;
	--navy-navy-200: #dbe1ea;
	--navy-navy-300: #bec9da;
	--navy-navy-400: #9aabc5;
	--navy-navy-500: #6d86ab;
	--navy-navy-600: #485d7d;
	--navy-navy-700: #253041;
	--navy-navy-800: #1b232f;
	--navy-navy-900: #151b24;
	--navy-navy-950: #131820;
	--peach-fuzz-peach-fuzz-50: #fffefd;
	--peach-fuzz-peach-fuzz-100: #fffbf9;
	--peach-fuzz-peach-fuzz-200: #fff6f1;
	--peach-fuzz-peach-fuzz-300: #ffefe5;
	--peach-fuzz-peach-fuzz-400: #ffe6d7;
	--peach-fuzz-peach-fuzz-500: #ffdbc6;
	--peach-fuzz-peach-fuzz-600: #ffceb1;
	--peach-fuzz-peach-fuzz-700: #ffbe99;
	--peach-fuzz-peach-fuzz-800: #d24d00;
	--peach-fuzz-peach-fuzz-900: #5b2100;
	--peach-fuzz-peach-fuzz-950: #331300;

	/* Fonts */
	--medium-font-family: 'Noto Sans KR', sans-serif;
	--medium-font-size: 16px;
	--medium-line-height: normal;
	--medium-font-weight: 500;
	--medium-font-style: normal;
	--medium-bold-font-family: 'Noto Sans KR', sans-serif;
	--medium-bold-font-size: 16px;
	--medium-bold-line-height: normal;
	--medium-bold-font-weight: 700;
	--medium-bold-font-style: normal;
	--xlarge-font-family: 'Noto Sans KR', sans-serif;
	--xlarge-font-size: 32px;
	--xlarge-line-height: normal;
	--xlarge-font-weight: 500;
	--xlarge-font-style: normal;
	--large-font-family: 'Noto Sans KR', sans-serif;
	--large-font-size: 24px;
	--large-line-height: normal;
	--large-font-weight: 500;
	--large-font-style: normal;
	--small-font-family: 'Noto Sans KR', sans-serif;
	--small-font-size: 10px;
	--small-line-height: normal;
	--small-font-weight: 400;
	--small-font-style: normal;
	--small-medium-font-family: 'Noto Sans KR', sans-serif;
	--small-medium-font-size: 13px;
	--small-medium-line-height: normal;
	--small-medium-font-weight: 500;
	--small-medium-font-style: normal;
	--xsmall-font-family: 'Noto Sans KR', sans-serif;
	--xsmall-font-size: 8px;
	--xsmall-line-height: normal;
	--xsmall-font-weight: 400;
	--xsmall-font-style: normal;
	--xxsmall-font-family: 'Noto Sans KR', sans-serif;
	--xxsmall-font-size: 6px;
	--xxsmall-line-height: normal;
	--xxsmall-font-weight: 400;
	--xxsmall-font-style: normal;

	/* Effects */
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--secondary-secondary-50);
	background-size: cover;
	background-blend-mode: soft-light;
}
